body{

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;

}

header{
    background-image: url('Background_definitivo.PNG');
    background-size: cover;
    background-position: center;
    height: 38rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #052A85;
    
}
.itemsHeader{

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5em;
    margin-bottom: 12rem;

}
header .itemsHeader img{

    height: 10em;
    padding: 0;

}

header .itemsHeader p{

    font-size: 2em;
    font-weight: bold;
    margin: 0;
    text-align: center;

}
header h1 span{

    text-align: left;
    display: inline-block;

}
/*Menú de Navegación*/
nav{

    text-align: center;
    padding: 1em;
    margin: 0;

}
nav a {
    color: #052A85;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-size: 35px;
    display: inline-block;
    padding: 1em;
    background-color: #f8f8f8;
    border: 2px solid #052A85;
    border-radius: 10px;

}
nav a:hover{
    color: #F1C40F;
}

nav p{
    color: #1D3D8E;
    font-size: 1em;
    font-weight: bold;
    display: inline;

}

nav ul{

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
nav ul li{

    margin: 0 10px;
    position: relative;

}
/*Estilos Submenú*/
ul ul{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
ul ul a{
        color: #052A85;
        font-weight: bold;
        text-decoration: none;
        margin: 0 0;
        transition: color 0.3s ease;
        font-size: 30px;
        display: block;
        padding: 0.5em;
        background-color: #ffffff00;
        border-radius: 0;
        border: 0 solid #052A85;
}
ul .menuVertical{
    margin: 0 30px;
    padding: 0;
    border: 2px solid #052A85;
    border-radius: 20px;
    background-color: #f8f8f8;

}
ul li:hover > ul{
    display: inherit;
}
ul ul li{
    position: relative;
    display: list-item;
}


/*Secciones*/
section h2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 2em;
    color: #052A85;
    font-size: 40px;

}

/*Reseña Histórica*/
#historia{

    margin-top: 3em;
    padding-top: 7em;

}
.ItemBox{
    display: flex;
    margin-right: 10em;
    border:solid 4px #052A85;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    gap: 1em;
    background-color: #F7DC6F ;
    align-items: center;
    margin-bottom: 7em;
}
.ItemBox2{
    display: flex;
    margin-left: 10em;
    border:solid 4px #052A85;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    gap: 1em;
    background-color: #F7DC6F;
    align-items: center;
}

section#historia p{

    text-align: justify;
    font-weight: bold;
    text-indent: 2em;
    padding: 1em;
    font-size: 20px;
    color: #052A85;

}
.ItemBox img{

    height: 10em;
    border-radius: 50%;
    margin-left: 1em;
    border-color: 100px solid #052A85;

}
.ItemBox2 img{

    height: 10em;
    border-radius: 50%;
    margin-left: 1em;

}
/*box Mision*/
.itemBoxMision{

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0em;
    padding-right: 10em;
    padding-bottom: 0;
    padding-top: 5em;
 
 }
 
 .cajaMision{
 
     text-align: center;
     margin: 0 auto;
     padding: 10em;
     padding-right: 0;
     font-size: 20px;
     padding-bottom: 0;
     padding-top: 0em;
  
 }
 
 .textoMision{
 
     background-color: #ECF0F1;
     border-radius: 25px;
     border: solid 8px #052A85;
     box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);
     
     
 }
 .textoMision h2{
 
     margin: 0;
     margin-top: 0.5em;
     color: #000;
 
 }
 
 .textoMision p{
     margin: 1em;
     margin-top: 0em;
     padding: 20px 50px;
     text-align: center;
     margin-bottom: 3em;
     font-size: 25px;
     color: #052A85;
 
 } 
 
 .imagenMision{
 
     padding: 10em;
     padding-right: 10em;
     padding-bottom: 0em;
     width: 100%;
 }
 
 .imagenMision img{
 
     padding-bottom: 11em;
     filter: drop-shadow( 5px 10px 20px #000);
 }
 
 /*box Vision*/
 
 .itemBoxVision{
     display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0em;
    padding-top: 5em;
    width: 100%;
 }
 
 .imagenVision{
 
     padding: 10em;
     padding-left: 20em;
     padding-top: 0;
     width: 100%;
 }
 
 .cajaVision{
 
     text-align: center;
     margin: 0 auto;
     padding: 10em;
     padding-left: 0;
     font-size: 20px;
     padding-top: 0;
 }
 
 .textoVision{
 
     background-color: #ECF0F1;
     border-radius: 25px;
     border: solid 8px #052A85;
     box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);

     
 }
 
 .textoVision h2{
 
     margin: 0;
     margin-top: 0.5em;
     color: #000;
 
 }
 
 .textoVision p{
     margin: 1em;
     margin-top: 0em;
     padding: 20px 50px;
     text-align: center;
     margin-bottom: 3em;
     font-size: 25px;
     color: #052A85;
 
 } 
 .imagenVision img{
    
    height: 35em;
    padding-bottom: 3em;
    filter: drop-shadow( 5px 10px 20px #000);
}
/*Valores*/

.ItemBoxValores{

    display: flex;
    justify-content: space-around;
    align-items: center;

}
.cajaValores{

    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;

}
.cajaImg{
    padding: 12em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;

}
.cajaValores img{

    height: 12em;
    padding: 0;
    filter: drop-shadow( 2px 5px 10px #000);

}
.textoValores{

    background-color: #ECF0F1;
    border-radius: 25px;
    border: solid 4px #18D145;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);
    margin: 5em;
    margin-top: 2em;

}
.textoValores h3{

    text-align: center;
    color: #052A85;
    font-size: 1.5em;

}
.textoValores p{

    color: #333;
    font-size: 20px;
    text-align: center;
    padding: 2em;
    padding-top: 0;

}

/*valores fila 2*/
.ItemBoxValores2{

    display: flex;
    justify-content: space-around;
    align-items: center;

}
.ItemBoxValores2 .cajaValores{
    padding: 7em;
    padding-top: 0px;
    

}
.ItemBoxValores2 .cajaImg{

    padding: 13.4em;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;

}
.ItemBoxValores2 img{

    height: 12em;
    filter: drop-shadow( 2px 5px 10px #000);

}


 
/*Galería*/

.galeria .itemboxGaleria{

    display: flex;
    justify-content: space-between;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 4em;

}
.itemboxGaleria img{

    height: 18rem;
    margin: 0;
    width: 100%;
    border: 3px solid #000;
    filter: drop-shadow( 2px 5px 10px #000);

}

/*Ubicación Geográfica*/

.ubicacionimg{

    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow( 5px 10px 20px #000);

}
.ubicacionp{

    padding: 10em;
    padding-top: 0;
    padding-bottom: 0;

}
#ubicacion p{

    padding-left:10rem;
    padding-right: 10rem;
    text-align: center;
    color: #052A85;
    font-weight: bold;
    font-size: 20px;

}
/*Horarios Académicos*/
.tables{

    display: flex;
    justify-content: space-around;

}
.morningTurn p{

    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #18D145;
    padding: 1em;
    color: #fff;
    border-radius: 30px;
    

}
.nigthTurn p{

    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #F1C40F;
    padding: 1em;
    color: #fff;
    border-radius: 30px;

}
/*Tabla del Turno de Mañana*/
.schedule-table {
    margin: 20px auto;
    max-width: 600px;
    overflow-x: auto;
}

.schedule-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.schedule-table th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.schedule-table th {
    background-color: #18D145;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #1C2833;
}

.schedule-table td {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
    color: #333;
}
.schedule-table td:hover {
    background-color: #e6e4e4;
}
/*Tabla del Turno de Tarde*/
.schedule-table2 {
    margin: 20px auto;
    max-width: 600px;
    overflow-x: auto;
}
.schedule-table2 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.schedule-table2 th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.schedule-table2 th {
    background-color: #F1C40F;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #1C2833;
}

.schedule-table2 td {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
    color: #333;
}
.schedule-table2 td:hover {
    background-color: #e6e4e4;
}
.contact-field-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-right: 4em;
}

/*Sección de Contacto*/

.contact-field{
    text-align: center;
}
.contact-field a{
    text-decoration: none;
    color: #fff;
}
.contact-field p span{
    font-weight: bold;
}
.contact-field img{
    width: 40px;
}
footer h2{

    color: #fff;
    text-align: center;

}

/*Footer*/
footer{

    color: #fff;
    font-weight: bold;
    padding: 3em;
    background-color: #052A85;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

@media only screen and (max-width: 600px) {
     *{
        overflow-x: hidden;
    }
    header{
        background-image: url('Background_definitivo.PNG');
        background-size: cover;
        background-position: center;
        height: 38rem;
        display: block;
        align-items: center;
        justify-content: flex-start;
        color: #052A85;
        width: 100%;
        
        
    }
    .itemsHeader{
    
        text-align: center;
        display: block;
        flex-direction: column;
        align-items: center;
        margin-left: 0em;
        margin-bottom: 12rem;
        padding-top: 10em;
    
    }
    header .itemsHeader img{
    
        height: 10em;
        padding: 0;
    
    }
    
    header .itemsHeader p{
    
        font-size: 2em;
        font-weight: bold;
        margin: 0;
        text-align: center;
    
    }
    header h1 span{
    
        text-align: left;
        display: inline-block;
    
    }
    

/*Menú de Navegación*/
nav{

    text-align: center;
    padding: 1em;
    margin: 0;

}
nav a {
    color: #052A85;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
    font-size: 35px;
    display: block;
    padding: 0em;
    background-color: #f8f8f8;
    border: 2px solid #052A85;
    border-radius: 10px;

}
nav a:hover{
    color: #F1C40F;
}

nav p{
    color: #1D3D8E;
    font-size: 1em;
    font-weight: bold;
    display: inline;

}

nav ul{

    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;

}
nav ul li{

    margin: 0 10px;
    position: relative;
    padding-bottom: 1em;

}
/*Estilos Submenú*/
ul ul{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
ul ul a{
        color: #052A85;
        font-weight: bold;
        text-decoration: none;
        margin: 0 0;
        transition: color 0.3s ease;
        font-size: 30px;
        display: block;
        padding: 0.5em;
        background-color: #ffffff00;
        border-radius: 0;
        border: 0 solid #052A85;
}
ul .menuVertical{
    margin: 0 30px;
    padding: 0;
    border: 2px solid #052A85;
    border-radius: 20px;
    background-color: #f8f8f8;

}
ul li:hover > ul{
    display: inherit;
}
ul ul li{
    position: relative;
    display: list-item;
}



    /*reseña historica*/

#historia{

    margin-top: 3em;
    padding-top: 7em;

}
.ItemBox{
    display: block;
    margin-right: 0em;
    border:solid 4px #052A85;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    gap: 1em;
    background-color: #F7DC6F ;
    align-items: center;
    margin-bottom: 7em;
    text-align: center;
}
.ItemBox2{
    display: block;
    margin-left: 0em;
    border:solid 4px #052A85;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    gap: 1em;
    background-color: #F7DC6F ;
    align-items: center;
    margin-right: 0em;
    text-align: center;
}

section#historia p{

    text-align: justify;
    font-weight: bold;
    text-indent: 2em;
    padding: 1em;
    font-size: 20px;
    color: #052A85;

}
.ItemBox img{

    height: 13em;
    border-radius: 15%;
    margin-left: 1em;
    padding-top: 1em;

}
.ItemBox2 img{

    height: 13em;
    border-radius: 15%;
    margin-left: 1em;
    padding-top: 1em;

}

/*Mision*/
.itemBoxMision{

    display: block;
    align-items: center;
    justify-content: space-around;
    padding: 0em;
    padding-right: 0em;
    padding-bottom: 0;
    padding-top: 2em;
    width: 100%;
 
 }
 
 .cajaMision{
    text-align: center;
    margin: 0;
    padding: 0em;
    padding-left: 0;
    font-size: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2em;
    
  
 }
 
 .textoMision{
 
    background-color: #ECF0F1;
    border-radius: 25px;
    border: solid 8px #052A85;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);
     
 }
 .textoMision h2{
 
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    padding: 0;
 
 }
 
 .textoMision p{
    margin: 1em;
    margin-top: 0em;
    padding: 20px 50px;
    text-align: center;
    margin-bottom: 3em;
    font-size: 25px;
    color: #052A85;
 
 } 
 
 .imagenMision{
 
    padding: 10em;
    padding-left: 0em;
    padding-top: 0;
    width: 100%;
    padding-right: 0;
 }
 
 .imagenMision img{
 
     padding-bottom: 5em;
     filter: drop-shadow( 5px 10px 20px #000);
 }

 /*Vision*/

 .itemBoxVision{
    display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0em;
   padding-top: 5em;
   width: 100%;
   flex-direction: column-reverse;

}

.imagenVision{

    padding: 10em;
    padding-left: 0em;
    padding-top: 0;
    width: 100%;
    padding-right: 0;
    padding-bottom: 0em;
    
}

.cajaVision{

    text-align: center;
    margin: 0 auto;
    padding: 10em;
    padding-left: 0;
    font-size: 20px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2em;
    
}

.textoVision{

    background-color: #ECF0F1;
    border-radius: 25px;
    border: solid 8px #052A85;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);

    
}

.textoVision h2{

    margin: 0;
    margin-top: 0.5em;
    color: #000;

}

.textoVision p{
    margin: 1em;
    margin-top: 0em;
    padding: 20px 50px;
    text-align: center;
    margin-bottom: 3em;
    font-size: 25px;
    color: #052A85;

} 
.imagenVision img{
   
   height: 35em;
   padding-bottom: 3em;
   filter: drop-shadow( 5px 10px 20px #000);
}

/*Valores*/

.ItemBoxValores{

    display: block;
    justify-content: space-around;
    align-items: center;
    padding-left: 0em;

}
.cajaValores{

    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
    padding: 0em;
    padding-top: 5em;

}
.cajaImg{
    padding: 0em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;

}
.cajaValores img{

    height: 12em;
    padding: 0;
    filter: drop-shadow( 2px 5px 10px #000);
    text-align: center;

}
.textoValores{

    background-color: #ECF0F1;
    border-radius: 25px;
    border: solid 4px #18D145;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.34);
    margin: 0em;
    margin-top: 0em;

}
.textoValores h3{

    text-align: center;
    color: #052A85;
    font-size: 1.5em;

}
.textoValores p{

    color: #333;
    font-size: 20px;
    text-align: center;
    padding: 2em;
    padding-top: 0;

}
/*Valores fila 2*/
.ItemBoxValores2{

    display: block;
    justify-content: space-around;
    align-items: center;

}
.ItemBoxValores2 .cajaValores{
    padding: 0em;
    padding-top: 5em;
    padding-left: 0;
    padding-right: 0;
    

}
.ItemBoxValores2 .cajaImg{

    padding: 0em;
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;

}
.ItemBoxValores2 img{

    height: 12em;
    filter: drop-shadow( 2px 5px 10px #000);
    text-align: center;
}
/*Galería*/

.galeria .itemboxGaleria{

    display: block;
    margin-left: 0em;
    margin-right: 0em;
    margin-bottom: 0em;
    align-items: center;

}
.itemboxGaleria img{

    height: 20rem;
    margin: 0;
    width: 90%;
    text-align: center;
    border: 3px solid #000;
    filter: drop-shadow( 2px 5px 10px #000);

}
.itemboxGaleria .cardimg{

    padding-bottom: 2em;
    margin: 0;
    padding-left: 2em;
}

/*Ubicación Geográfica*/

.ubicacionimg{

    width: 100%;
    display: flex;
    justify-content: center;
    filter: drop-shadow( 5px 10px 20px #000);

}
.ubicacionp{

    padding: 0em;
    padding-top: 0;
    padding-bottom: 0;

}
#ubicacion p{

    padding-left:0rem;
    padding-right: 0rem;
    text-align: center;
    color: #052A85;
    font-weight: bold;
    font-size: 20px;

}
/*Horarios*/
.tables{
    
    display: block;
}

/*Tabla del Turno de Mañana*/
.schedule-table {
    padding: 2em;
    max-width: 600px;
    overflow-x: auto;
    padding-bottom: 0em;
    padding-top: 0em;
}

.schedule-table table {
    width: 0%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.schedule-table th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.schedule-table th {
    background-color: #18D145;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #1C2833;
}

.schedule-table td {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
    color: #333;
}
.schedule-table td:hover {
    background-color: #e6e4e4;
}
/*Tabla del Turno de Tarde*/

.nigthTurn{
    padding-top: 1em;
}
.schedule-table2 {
    max-width: 600px;
    padding: 2em;
    overflow-x: auto;
    padding-top: 0em;
    padding-bottom: 0em;
}
.schedule-table2 table {
    width: 0%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.schedule-table2 th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.schedule-table2 th {
    background-color: #F1C40F;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #1C2833;
}

.schedule-table2 td {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
    color: #333;
}
.schedule-table2 td:hover {
    background-color: #e6e4e4;
}
.contact-field-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-right: 0em;
}

/*Sección de Contacto*/

.contact-field-container{

    display: block;
    padding-left: 0em;
}

.contact-field{
    text-align: center;
}
.contact-field a{
    text-decoration: none;
    color: #fff;
}
.contact-field p span{
    font-weight: bold;
}
.contact-field img{
    width: 40px;
}
footer h2{

    color: #fff;
    text-align: center;

}

/*Footer*/
footer{

    color: #fff;
    font-weight: bold;
    padding: 0em;
    background-color: #052A85;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}


}
